.course-main{
 display: flex;   
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 50px;
 margin: auto;
 padding: 100px;
 max-width: 70%;
}
.course{
    max-width: 300px;
    border: 15px solid rgb(41, 24, 41);
    border-radius: 12px;
}
.course-content{
    padding: 20px;
    display: grid;
    gap: 20px;
}